#if ($ctx.error)
    $util.appendError($ctx.error.message, $ctx.error.type, null, $ctx.result.data.unprocessedKeys)
#end

$util.toJson($context.result.data.Activity-kwyxhwmj5vcwdcnmpg3nzywcsm-tourmap)