#if ($ctx.error)
    $util.appendError($ctx.error.message, $ctx.error.type, null, $ctx.result.data.unprocessedKeys)
#end

$util.toJson($context.result.data.Activity-xnhgmk7b7ng3dj35gtbm76o6ra-tourmap)