{% load crispy_forms_tags %}

{% if completed_signup %}
Thank you for signing up for vacation for {{year}}.
{% else %}
{% if anniversary %}
Anniversary Week
{% endif %}
<form class="container" hx-post="/vacation/employee/{{employee.employeeID}}/signup" hx-target="#vacation_form">
    <div class="form-row row-eq-spacing-sm">
        <div class="col-sm">
            {{ form.vacationWeek|as_crispy_field }}
        </div>
        {% if unusedDayAtATime %}
        <div class="col-sm" _="on click set @disabled to 'disabled' on #id_isAnniversaryWeek ">
            {{ form.dayAtATime|as_crispy_field }}
        </div>
        {% endif %}
    </div>
    <div class="text-left">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endif %}