<table class="table table-hover" id="table">
    <thead>
        <tr>
            <th class="border-gray-200">Item</th>
            <th class="border-gray-200">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Years of Service</td>
            <td>{{ yearsOfService }}</td>
        </tr>
        <tr>
            <td>Weeks of Vacation</td>
            <td>{{ weeksVacation }}</td>
        </tr>
        <tr>
            <td>Weeks of Vacation Signed Up For</td>
            <td>{{ weeksVacationSignedUp }}</td>
        </tr>
        <tr>
            <td>Anniversary Week</td>
            <td>{{ getsAnniversaryWeek }}</td>
        </tr>
    </tbody>
</table>