{% extends "layouts/base.html" %}
{% load leaflet_tags %}
{% load static %}

{% block stylesheets %}
{% leaflet_js %}
{% leaflet_css %}
<style>

    .leaflet-container {  /* all maps */
        width:  100%;
        height: 90vh;
    }

    #specialbigmap {
        height: 800px;
    }

    /* Resize the "display_raw" textbox */
    .django-leaflet-raw-textarea {
        width: 100%;
    }

</style>
{% endblock stylesheets %}


{% block content %}
{% leaflet_map "cycletourmap" callback="window.map_init_basic" %}
{% endblock content %}

{% block javascripts %}
<script src="{{ ASSETS_ROOT }}/js/leaflet.js"></script>
{% endblock javascripts %}

