{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="py-4">
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card border-0 shadow p-4">
                <form action="{% url 'tourform' %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}